div{

}
a{
  text-decoration: none;
}

/**********           HEAD            ***************/

/* .head{
  height: 100px;
  background-color: blue;
} */
.link-title{
  color: aqua;
}

.title{
  margin-top: 1.3rem;
  float: left;
}
.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

/**********           MAIN-BODY            ***************/

.main-body{
  height: 500px;
  background-color: ;
  font-size: 100px;
}


/**********           FOOT           ***************/

.foot{
  height: 100px;
  background-color: green;
  background-size: cover;
}
